*{margin: 0;padding: 0;}
body{
	position: relative;
	background: url(../img/indexbg.jpg) no-repeat;
}
h1{
	text-align: center;
	font-size: 50px;
	margin-top: 100px;
	margin-bottom: -100px;
	letter-spacing: 20px;
	color: rgb(31, 68, 150);
}
.bvg{
	width: 400px;
	height: 320px;
	border: 1px solid #ccc;
	border-radius: 15px;
	background: rgba(144, 144 ,238, 0.5);
	position: absolute;
	margin-top: 200px;
	left: 48%;
	margin-left: -160px;
	z-index: 220;
}
h2{
	color: #347685;
	margin: 20px auto 30px;
	text-align:center;
}
.left{
	width: 100px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: right;
	font-size: 18px;
	margin-bottom: 30px;
}
.right{
	width: 300px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 30px;
	float: left;
}
input{
	width: 250px;
	height: 30px;
	padding-left: 15px;
	border: 1px solid #888;
	border-radius: 15px;
	box-shadow: 0 2px 1px #aaa inset;
	vertical-align: middle;
}
button{
	width: 100px;
	background: #F8FDFF;
	cursor: pointer;
}
#index{
	margin: 30px 20px 0 85px;
}